/* body {
  --callout-border-width:  0 0 0 4px;
  --callout-border-opacity:  1;
  --callout-radius: 0;
  --callout-padding: 0;
  --callout-title-padding:  var(--size-4-4) var(--size-4-4);
  --callout-content-padding:  var(--size-4-2) var(--size-4-4);
}
.callout-title-inner {
  color: var(--text-normal);
}
.callout-content {
  background-color: var(--background-primary-alt);
} */

.callout[data-callout^="o-"] {
  --callout-color: 68, 138, 255;
  --callout-icon: lucide-pencil;
  --callout-border-width:  0 0 0 4px;
  --callout-border-opacity:  1;
  --callout-radius: 0;
  --callout-padding: 0;
  --callout-title-padding:  var(--size-4-4) var(--size-4-4);
  --callout-content-padding:  var(--size-4-2) var(--size-4-4);
}
.callout[data-callout^="o-"] .callout-title-inner {
  color: var(--text-normal);
}
.callout[data-callout^="o-"] .callout-content {
  background-color: var(--background-primary-alt)
}

.callout[data-callout="o-abstract"], .callout[data-callout="o-test"] {
  --callout-color: 0, 176, 255;
  --callout-icon: lucide-clipboard-list;
  --callout-border-width:  0 0 0 4px;
  --callout-border-opacity:  1;
  --callout-radius: 0;
  --callout-padding: 0;
  --callout-title-padding:  var(--size-4-4) var(--size-4-4);
  --callout-content-padding:  var(--size-4-2) var(--size-4-4);
}
.callout[data-callout="o-abstract"], .callout[data-callout="o-test"] .callout-title-inner {
  color: var(--text-normal);
}
.callout[data-callout="o-abstract"], .callout[data-callout="o-test"] .callout-content {
  background-color: var(--background-primary-alt)
}